<html>
    {% load static %}

<head>
    <title>Dead by Daylight Match Stats Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dbd_stats/style.css' %}">

</head>
<body>
    <form action="submit_data" method="post">
        {% csrf_token %}
        <h1>Dead by Daylight Match Stats Form</h1>
            {{ dbd_form.as_ul  }}

        <style>
        .submit-button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .submit-button:hover {
            background-color: #45a049;
        }
        </style>
        <input class="submit-button" type="submit" value="Save New DBD Data">
    </form>
</body>
</html>